---
title: Kategori
permalink: "/kategori/"
layout: default
---

{% capture tags %}{% for tag in site.tags %}{{ tag[0]}}#{% endfor %}{% endcapture %}

{% assign sorted = tags | split: '#' | sort %}
{% for category in sorted %}
    <h3 id="{{ category }}">{{ category }}</h3>
    <ul>
        {% for post in site.tags[category] %}
            <li>
                {{ post.date | date:'%B %d, %Y' }} : <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
