---
layout: default
title: Kategori
permalink: /kategori/
---
            {% assign sortedcategoriess = categories | split:' ' | sort %}

            {% for categories in sortedcategoriess %}
                <h3 id="{{categories}}">{{categories}}</h3>
                <ul>
                    {% for post in site.posts %}
                        {% for ocategories in post.categories %}
                            {% if categories == ocategories %}
                               <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <a href="{{ site.baseurl }}{{ post.url }}" class="red-link">{{ post.title }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endfor %}
            </section>
        </div>
    </div>
