---
layout: tag
title: Tags
permalink: /tags/
---
	 <div class="col-sm-12 col-md-8 pull-left">
            <section>
            {% capture tags %}
                {% for tag in site.tags %}
                    {{ tag[0] }}
                {% endfor %}
            {% endcapture %}

            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
                <h4 id="{{tag}}">{{tag}} <i class="fa fa-tags text-muted"></i></h4>
                <ul>
                    {% for post in site.posts %}
                        {% for otag in post.tags %}
                            {% if tag == otag %}
                                <li> <span class="text-danger fa fa-angle-double-right"></span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endfor %}
            </section>
        </div
        <div class="col-sm-12 col-md-4 bagik">
		<h4>Tag populer</h4>
            <section class="tags">
                <ul>
                    {% for tag in site.tags %}
                    <li>
                        <a href="#{{ tag | first | slugize }}"> <span class"text-danger">#</span>{{ tag | first }}</a> <span class="text-muted">({{ tag | last | size}})</span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
    </div>

