---
layout: tag
title: Tags
permalink: /tags2/
---
    <div class="row">
        <div class="col-4">
            <section class="tags">
                <ul>
                    {% for tag in site.tags %}
                    <li>
                        <a href="#{{ tag | first | slugize }}/"> {{ tag | first }}&nbsp;({{ tag | last | size}})</a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
    </div>
        <div class="col-8">
            <section>
            {% capture tags %}
                {% for tag in site.tags %}
                    {{ tag[0] }}
                {% endfor %}
            {% endcapture %}

            {% assign sortedtags = tags | split:' ' | sort %}

            {% for tag in sortedtags %}
                <h3 id="{{tag}}">{{tag}}</h3>
                <ul>
                    {% for post in site.posts %}
                        {% for otag in post.tags %}
                            {% if tag == otag %}
                                <li class="text-danger fa fa-angle-double-right" aria-hidden="true"> <a href="{{ post.url }}" class="red-link">{{ post.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endfor %}
            </section>
        </div>
    </div>
