<div class="navbar navbar-default navbar-fixed-top" role="navigation">

			<div class="container">
				<div class="navbar-header">
				      <a class="navbar-brand faa-parent animated-hover" href="/blog">
						{% include ge.html %}
						<!-- original <img alt="goez" src="/github-cdn/asset/imgs/goez-eggo18nwr4.png"> -->
						</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
								<li><a href="/">Beranda</a></li>
							{% if site.baseurl %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
							<a data-toggle="dropdown" class="dropdown-toggle goez active" href="/blog/">Blog's<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{% if page.url == '/arsip/' %}<li class="active">{% else %}<li>{% endif %}<a href="/blog/arsip">Arsip</a></li>
										{% if page.url == '/tags/' %}<li class="active">{% else %}<li>{% endif %}<a href="/blog/tags">Tags</a></li>
										{% if page.url == '/about/' %}<li class="active">{% else %}<li>{% endif %}<a href="/blog/about">About</a></li>
									</ul>
						<!--	<li><a href="http://eggoez.com/flatpress">FlatPress</a></li> -->
							<li><a href="/notes">Note's</a></li>
							{% if page.url == '/tools/' %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
								<a data-toggle="dropdown" class="dropdown-toggle goez active" href="/tools">Tools<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{% if page.url == '/tools/cssc/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/cssc">CSS Compress</a></li>
										{% if page.url == '/tools/jsc/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/jsc">JS Compress</a></li>
										{% if page.url == '/tools/pprint/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/pprint/">Pertty Print</a></li>
										{% if page.url == '/tools/meme/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/meme">Meme Maker</a></li>
										{% if page.url == '/tools/base64/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/base64">Images b64</a></li>
											<li class="dropdown dropdown-submenu"><a href="/teks/" class="dropdown-toggle" data-toggle="dropdown">Text Converter</a>
												<ul class="dropdown-menu">
													<li><a href="/tools/teks/attl">Attl Text</a></li>
													<li><a href="/tools/teks/bbold">BigBold Text</a></li>
													<li><a href="/tools/teks/bullet">Bullet Text</a></li>
													<li><a href="/tools/teks/funt">Funt Text</a></li>
													<li><a href="/tools/teks/funy">Funy Text</a></li>
													<li><a href="/tools/teks/glif">Glift Text</a></li>
													<li><a href="/tools/teks/mirror">Mirror Text</a></li>
													<li><a href="/tools/teks/unik">Unik Text</a></li>
													<li><a href="/tools/teks/swirl">Swirl Text</a></li>
													<li><a href="/tools/teks/sym">Sym Text</a></li>
												</ul>
											</li>
											{% if page.url == '/tools/jowo/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/jowo">Kalender Jowo</a></li>
									</ul>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Project<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="http://eggoez.com/flatpress">FlatPress</a></li>
										<li><a href="http://eg-goez.github.io">Bot eggoez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
									<!--	<li><a href="/FreeBNC">FreeBNC</a></li> -->
									</ul>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Download<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/download/flatpress">FlatPress</a></li>
										<li><a href="/download/eggdrop">eggdrop goez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
										<li><a href="/download/ciutirc">ciutIRC</a></li>
										<li><a href="/download/mirc-scripts">mIRC Scripts</a></li>
										<li><a href="https://github.com/eggoez/sInfo">sInfo Tweak</a></li>
										<li><a href="/download/tcl">TCL</a></li>
									</ul>
							</li> 
							 {% if page.url == '/blog/about/' %}
							 <li class="active">
							 	{% else %}
							 <li>
							 {% endif %}
							<a href="/about">About</a></li>
									</ul>
							<form class="navbar-form navbar-right form-search" action="{{ site.url }}{{site.baseurl }}/search.html" method="get">
						<div class="form-group">
										<div class="input-group">
								<input type="text" class="form-control search-query" placeholder=" Pencarian..." id="search-box" name="query">
									<span class="input-group-btn"><button type="submit" class="btn btn-primary" name="search" id="searchsubmit" value="search">
						<span class="glyphicon glyphicon-search faa-pulse animated"></span></button>
									</span>
						</div>
					</div>
</form>
					</div>
			</div>
		</div>
