<div id="secondary" class="widget-area col-sm-12 col-md-4">
<h3 class="widget-title fa fa-twitter"><h3>
<hr />
            <a class="twitter-timeline"  href="https://twitter.com/eggoez" data-widget-id="508093865404809216">Tweet oleh @eggoez</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
</div>