<!DOCTYPE html>
<html lang="id-ID">
  {% include headp.html %}

  <body class="nduwur">
	{% include navbar.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
 <!-- not default -->
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	<hr />
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


</article>
<hr />
	<h3 class="bagik">Bagikan ke yang lain</h3>
	<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_button_twitter faa-vertical animated-hover"></a>
<a class="a2a_button_facebook faa-vertical animated-hover"></a>
<a class="a2a_button_google_plus faa-vertical animated-hover"></a>
<a class="a2a_button_pinterest faa-vertical animated-hover"></a>
<a class="a2a_button_tumblr faa-vertical animated-hover"></a>
<a class="a2a_button_linkedin faa-vertical animated-hover"></a>
<a class="a2a_button_reddit faa-vertical animated-hover"></a>
<a class="a2a_button_email faa-vertical animated-hover"></a>
<a class="a2a_button_kakao faa-vertical animated-hover"></a>
<a class="a2a_button_sms faa-vertical animated-hover"></a>
<a class="a2a_button_whatsapp faa-vertical animated-hover"></a>
<a class="a2a_button_line faa-vertical animated-hover"></a>
<a class="a2a_button_print faa-vertical animated-hover"></a>
</div>
<!-- AddToAny END -->
<br />
<br />
<!-- not default -->
  </div>
    </div>

    {% include footer.html %}
    {% include akhir.html %}

  </body>

</html>
